<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Cloaca{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
		{% javascripts 'public/js/*' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		{% stylesheets 'public/css/*' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	</head>
	<body>
		<div class="container">
			<div class="masthead">
				<h3>Cloaca - OLC Informatica & Informatiekunde</h3>
			</div>
			<hr />
		
			<div id="content">
				{% block body %}{% endblock %}
			</div>
		</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>
